html,
body {
  min-height: 100%;
}

html {
  color-scheme: dark;
  background: #0d091b;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
